DATA_DIR=./data
INFINITY_PORT=8002
SERVICE_ADDRESS=0.0.0.0
SERVICE_DATA=/data
SERVICE_DIST=/dist
SERVICE_INFINITY_IMAGE_MODEL=openai/clip-vit-large-patch14
SERVICE_INFINITY_TEXT_DOCUMENT_PREFIX=
SERVICE_INFINITY_TEXT_MODEL=BAAI/bge-large-en-v1.5
SERVICE_INFINITY_TEXT_QUERY_PREFIX=Represent this sentence for searching relevant passages:
SERVICE_LOG_LEVEL=warn
SERVICE_OIDC_CLIENT_ID=
SERVICE_OIDC_DISCOVERY_URL=
SERVICE_OIDC_INSECURE_SKIP_VERIFY=false
SERVICE_PORT=8083
