SERVICE_ADDRESS=0.0.0.0
SERVICE_PORT=8083
SERVICE_DIST=/dist
SERVICE_DATA=/data
SERVICE_OIDC_DISCOVERY_URL=
SERVICE_OIDC_CLIENT_ID=
INFINITY_PORT=8002
SERVICE_INFINITY_IMAGE_MODEL=openai/clip-vit-large-patch14
SERVICE_INFINITY_TEXT_MODEL=BAAI/bge-large-en-v1.5
SERVICE_INFINITY_TEXT_QUERY_PREFIX=Represent this sentence for searching relevant passages:
SERVICE_INFINITY_TEXT_DOCUMENT_PREFIX=
