<figure
    class="container relative h-full max-w-sm bg-white shadow-md grow min-w-sm dark:bg-gray-800 rounded-xl ring-1 ring-gray-500/25 hover:ring-gray-500/50 hover:shadow-lg"
    x-data="{ editmode: false, localentity: cloneDeep(entity) }"
    @click.outside="if (editmode) { editmode = false }"
    @keyup.enter="if(editmode){ localentity.artifact=$store.api.uploadArtifactsEdit(); $store.api.updateEntity(localentity); editmode=false; $store.entities.fullstate.entities[entity.id]=cloneDeep(localentity); entity=cloneDeep(localentity); $store.entities.reload() }">

    <!-- Text stuff -->
    <div class="p-8 h-max">

        <!-- Title -->

        <div x-show="!editmode">
            <div class="flex list-reset space-x-2 items-baseline mb-2 cursor-pointer"
                @click="$store.entities.setCurrentEntity(entity.id)">
                <div class="text-xl w-min font-medium text-black/50  dark:text-white/50" x-text="'('+ entity.id + ')'">
                </div>
                <div x-text="entity.metadata.quantity != 0 && entity.metadata.quantity != null && ($store.entities.searching && $store.moveEntityDialog.formatOption(entity.id) || entity.name) + ' (x' + entity.metadata.quantity +')' ||  ($store.entities.searching && $store.moveEntityDialog.formatOption(entity.id) || entity.name) "
                    class="text-xl font-bold "></div>
            </div>
        </div>
        <div x-show="editmode">
            <div class="flex-auto flex list-reset space-x-2 items-baseline mb-2 cursor-pointer">
                <div class="text-xl w-min font-medium text-black/50  dark:text-white/50" x-text="'('+ entity.id + ')'">
                </div>
                <input type="text" x-model.lazy="localentity.name" class="bg-white shrink rounded-sm dark:bg-gray-900 ring-1">
                <input type="number" min="0" x-model.number.lazy="localentity.metadata.quantity"
                    class="bg-white rounded-sm dark:bg-gray-900 ring-1 w-10">
                <input type="checkbox" x-model="localentity.metadata.islabeled">
                <input class="display:none" name="photo" type="file" id="photo" x-show="false"
                    x-on:change="$store.editEntityDialog.files = Object.values($event.target.files)" accept="image/*"
                    capture="camera">
            </div>
        </div>
        <!-- Name -->


        <!-- Description, if present -->

        <div x-show="!editmode">
            <template x-if="entity.description !=''">
                <p x-text="entity.description">
                </p>
            </template>
        </div>
        <div x-show="editmode">
            <textarea x-model="localentity.description" class="bg-white rounded-sm dark:bg-gray-900 ring-1 w-full"
                @keyup.enter.stop></textarea>
        </div>

        <!-- Children, if present. -->
        <div x-show="$store.entities.hasChildren(entity.id)">
            <p class="mb-2 font-semibold">Contains:</p>
            <div
                class="flex flex-wrap gap-2 overflow-hidden hover:overflow-y-auto max-h-48 shadow-md p-2 ring-1 ring-gray-500/10 hover:ring-gray-500/25 hover:shadow-lg rounded-md">

                <template x-for="childID in $store.entities.listChildLocations(entity.id)">
                    <div class="p-2 rounded cursor-pointer bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 hover:bg-gray-100 hover:shadow-sm ring-gray-200 dark:ring-slate-500 ring-1 hover:ring-blue-500/75 active:shadow-md"
                        x-text="$store.entities.readname(childID)"
                        @click="$store.entities.setCurrentEntity(childID)">
                    </div>
                </template>
            </div>

        </div>

    </div>

    <!-- Buttons -->

    {{ componentButtonRound "$store.api.delete(entity.id)" "red" "trash-solid" | unescapeHTML }}
    {{ componentButtonRound "$store.moveEntityDialog.open(entity.id)" "blue" "hand-raised-solid" | unescapeHTML }}
    {{ componentButtonRound "if(!editmode){ localentity=cloneDeep(entity); editmode=true; } else { localentity.artifact=$store.api.uploadArtifactsEdit(); $store.api.updateEntity(localentity); editmode=false; $store.entities.fullstate.entities[entity.id]=cloneDeep(localentity); entity=cloneDeep(localentity); $store.entities.reload(); }" "blue" "pencil-solid" | unescapeHTML }}
    {{ componentButtonRound "$store.newEntityDialog.open(entity.id)" "blue" "plus-solid" | unescapeHTML }}
    <div x-show="editmode">
        {{ componentButtonRound "document.getElementById('photo').click();" "blue" "camera-solid" | unescapeHTML }}
    </div>

    <!-- Images -->
    <div class="flex flex-row justify-center w-full">
        <template
            x-if="$store.entities.fullstate.entities[entity.id] != null && $store.entities.selectImages(entity.id) != null">
            <template x-for="(n, index) in $store.entities.selectImages(entity.id)">
                <img class="flex-1 object-cover w-full h-56 rounded-xl" :src="['/api/artifact/',n].join('')">
            </template>
        </template>
    </div>

</figure>